<div>
  <div class="contenido">
    <table class="table is-striped">
      <thead>
          <th *ngFor="let title of titles">{{title | mayuscula}}</th>
      </thead>
      <tbody>
           <tr *ngFor="let user of userList">
                <td>{{user.id}}</td>
                <td>{{user.name}}</td>
                <td>{{user.email}}</td>
                <td>{{user.role}}</td>
                <td>{{user.years}}</td>
                <td>
                  <button class="button is-primary" (click)="handleEdit(user)">Editar</button>
                  <button class="button is-danger" (click)="handleDelete(user)">Eliminar</button>
                </td>
           </tr>
      </tbody>
  </table>
  </div>

</div>
